header {
    display: flex;
    grid-area:header ;
    width: 100%;
    background-color:#EDEDED ;
    font-size: 20px;
    position: fixed;
    top: 0;
    z-index: 1000;
    .header__logo {
        width: 200px;
        padding: 5px 25%;
    }
    .navbar {
        height: 80px;
        margin-top: 0%;
        padding:0%;
    }
    .container-fluid {
        display: flex;
        justify-content: space-between;
        align-items: center; 
    }
    .navbar-toggler {
        border: var(--bs-border-width) var(--bs-navbar-toggler-border-color);
        border-radius: var(--bs-navbar-toggler-border-radius);
    }
    .navbar-toggler:focus {
        text-decoration: none;
        outline: 0;
        box-shadow:none;
    }
 }

 nav li a{
    list-style:none; 
    text-decoration: none;
    color: #032E40;
}

nav li {
    width: 200px;
    position: relative;  
}

nav ul {
    list-style: none;
    text-align: center;
}

nav ul ul {
    position: absolute;
    display: none;
    text-align: left; 
}

ul li:hover {
    background-color:$secondary_color;
    border-radius: 8px;
}

a:hover {
    color: var(--bs-link-hover-color);
}
    
.navbar-collapse {
    flex-basis: 100%;
    /* flex-grow: 1; */
    align-items: center;
}

.navbar-collapse {
    flex-basis: 100%;
    flex-grow: 0;
    align-items: center;
}