/* contenido */
main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 90px;
    height: auto;
    grid-area: main;
    padding: 5%;
    background-color: #ffff;
}