
// cards sobre-nosotros
.container__cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;  
    .card-custom {
        width: 350px;
        margin: 5px;
        transition: all 300ms;
    } 
    
    .card:hover {
        width: 350px;
    }
    
    .cover {
        width: 100%;
        height: 250px;
        position: relative;
        overflow: hidden;
    }
    
    .cover img {
        width: 250px;
        display: block;
        margin: auto;
        position: relative;
        top: 40px;
        z-index: 1;
        transition: all 400ms;
       
}
    
    &:hover .cover img {
        top: 0px;
    }
    
    .img__back {
        width: 100%;
        height: 200px;
        position: absolute;
        background-size: cover;
        bottom: -80px;
        left: 0;
        border-radius: 20px;
        transition: all 300ms;
    }
    
    &:nth-of-type(1) .img__back {
        background-image: url(../assets/img/bg3.jpg);
    }

    &:nth-of-type(2) .img__back {
        background-image: url(../assets/img/bg3.jpg);
    }
    
    .img__back {
        bottom: -30px;
    }
    
    .description {
        background-color: #EDEDED;
        text-align: center;
        margin-top: -10px;
        padding: 20px;
        border-radius: 0px 0px 20px 20px;
        transition: all 300ms;
    }
    
    .description h2 {
        margin-top: 10px;
    }
    
    .description input { 
        padding: 10px 25px;
        margin-top: 20px;
        border: none;
        background-color: #CFD982;
        color: #032E40;
        font-size: 14px;
        cursor: pointer;
        border-radius: 8px;
        transition: all300ms;
    }

    &:hover .description{
        padding: 30px;
    }
    
   .description input:hover {
        background: #bdc773;
    }
}

//Cards Services --> descripción 
.cards {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    ul {
        padding: 0%;
    }
    
    ul li {
        list-style: none;
        color: #6F6F6F;
    }
    
    ul li:hover {
        width: 200px;
    }
}

.services_cards_1 {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0px 30px 10px 30px;
}   

.services_cards_2 {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0px 30px 10px 30px;
}

.content_card_serv {
    display: flex;
}
.card_serv {
    justify-content: center;
}
