main.cont {
    margin: 0%;
    padding: 5% 0% 0%;
}

.contact {
    background-image: url(https://img.freepik.com/foto-gratis/persona-vista-superior-escribiendo-computadora-portatil-espacio-copia_23-2148708035.jpg?w=1060&t=st=1670600451~exp=1670601051~hmac=fd400f314500c315cf96c4b3dfa6c0e6a4b848c20cf2013d322740aa49cd687c);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: unset;
    opacity: 1;
    height: auto;
    padding-left:45%;
    padding-right: 5%;
    padding-top: 5%;
    padding-bottom: 0%;
}

.contact .form {
    z-index: 1000;
    display: table-cell;
    position: relative;
    height: 100%;
}

.form {

    .form_dates {
        display: flex;
        flex-direction: column;
    }
}

.privacy {
    font-family: 'Roboto', sans-serif;
    font-size:14px;
}
.submit {
    margin-top: 20px;
    margin-left: 85%;
    background-color: $secondary_color;
    width: 100px;
    border-radius: 8px;
}
