
.hero {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 80px;
    justify-content: space-around;
    height: 500px;
    text-align: center;
    .hero__img {
        width: 400px;
    }
    #title {
        font-family: 'Nunito', sans-serif;
        font-weight: 700;
        font-size: 60px;
        color: $primary_color;
        text-align: center;
    }
}

.hero_button {
    background-color: #ffff;
    width: 200px;
    border-radius: 8px;
    padding: 10px;
    border-color: #ffff;
}

#buttonClass {
    margin-top: 20px;
    font-size:18px;
    width:150px;
    height:30px;
    border-width:1px;
    color:#032E40;
    border: 28px;
    border-radius: 8px;
    background:#fff;
    text-decoration: none;
    text-align: center;
}
  
#buttonClass:hover {
    background: #CFD982
  }

#subtiluto {
    color: #032E40;
 }
/* Animaciones */

#title.animate__animated.animate__fadeIn {
    animation-duration: 4s;
}

#subtiluto.animate__animated.animate__fadeIn {
    animation-duration: 8s;
}

#buttonClass.animate__animated.animate__fadeIn {
    animation-duration: 4s;
}

.ball {
    position: absolute;
    border-radius: 100%;
  }

