.projects {
    padding-top: 10px;
    
}

ul {
    .nav-tab {
        padding-bottom: 20px;
    }

}


.col img {
    width: 300px;
    height: 200px;
}

li.op {
    width: 200px;
    position: relative;  
    display: inline-block; 
    padding: 0px 15px;
    list-style: none;
    text-decoration: none;
} 


li.op a{
    list-style:none; 
    text-decoration: none;
    color: $primary_color;
}

ul.opciones {
    list-style: none;
    text-align: center;
}

ul.opciones li.op {
    list-style: none;
}

ul.opciones ul.opciones {
    position: absolute;
    display: none;
    text-align: left;   
}
ul.opciones li:hover {
    background-color:#CFD982;
    border-radius: 8px;
    
}

.nav-link {
    display: block;
    padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
    font-size: var(--bs-nav-link-font-size);
    font-weight: var(--bs-nav-link-font-weight);
    color: #032e40 var(--bs-nav-link-color);
    text-decoration: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}

.row {
    margin-right: 10px;
}
 
.tab-content {
    padding-top:20px;
}